.list-item button {
  margin-right: 10px;
}

/* This will make it 16:9,
   To create a 16:9 ratio, we must divide 9 by 16 (0.5625 or 56.25%).
   */
.youtubeWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* padding-top: 25px; */
  /* height: 0;
  overflow: hidden; */
}

.youtubeWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}